@import "@/styles/theme.scss";

.main {
	@include main-btn;
	padding: 10px 20px;
}

.second {
	@extend .main;
	background: transparent;
	border: 2px solid $second;
	&:hover {
		background: $second;
	}
}

@media (width >= $queryLg) {
	.main {
		padding: 15px 35px;
	}

	.second {
		background: transparent;
		border: 2px solid $second;
		&:hover {
			background: $second;
		}
	}
}
