@import "@/styles/theme.scss";

.container {
	@include width-height(100%, 100vh);
	@include flex(row, center, center);
	z-index: 2;
	position: relative;
	background: $mainBlue;
	.inner_container {
		@include width-height(1200px, auto);
		@include flex(column, center, flex-start, 50px);
		.form_container {
			@include width-height(100%, auto);
			display: grid;
			grid-template-columns: 30% 70%;
			gap: 40px;
			.resume_container {
				@include width-height(100%, 600px);
				@include flex(column, center, center, 30px);
				background: $darkBlue;
				border: 3px solid #374757;
				padding: 20px 30px;
				padding-bottom: 0;
			}
			.form {
				@include width-height(100%, 600px);
				@include flex(column, space-between, flex-start);
				background: $darkBlue;
				border: 3px solid #374757;
				padding: 20px;
				.error {
					opacity: 1;
					@include fontSize-fontWeight(14px, 400);
					color: $error;
				}
				.error_hidden {
					@extend .error;
					height: 19px;
					opacity: 0;
					border: 1px solid white;
				}
			}
		}
	}
}
