@import "@/styles/theme.scss";

.container {
	@include width-height(100%, 100vh);
	@include flex(row, center, center);
	z-index: 2;
	position: relative;
	background: $main;
	.inner_container {
		@include width-height(1200px, auto);
		@include flex(column, space-between, flex-start, 50px);
		padding-top: 50px;
		.cards_container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-content: center;
			align-items: center;
			gap: 40px;
		}
	}
}
