// Backgrounds
$mainBlue: #2b3d4f;
$darkBlue: #263446;
$stellBlue: #567196;
$slateBlue: #37475c;
$second: #16c0f0;

// Global colors
$lighterGrey: #bebebe;
$lightGrey: #7f7f7f;
$opacityGrey: rgba(127, 127, 127, 0.7);
$text: #c7c5c7;

$success: rgb(5, 95, 13);
$error: rgb(168, 7, 7);
$orange: #ff5722;
$darkOrange: #ff3d02;
$white: #fff;

// Media querys
$querySm: 640px;
$queryMd: 768px;
$queryLg: 1024px;
$queryXl: 1400px;

//Mixins
@mixin flex($direction, $justify, $align, $gap: 0) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	gap: $gap;
}
@mixin width-height($width, $height) {
	width: $width;
	height: $height;
}
@mixin fontSize-fontWeight($size, $weight) {
	font-size: $size;
	font-weight: $weight;
}

@mixin text() {
	color: $text;
	line-height: 1.8;
	font-weight: 400;
	padding-bottom: 25px;
	margin-bottom: 0;
	letter-spacing: 0.3px;
}

@mixin main-btn() {
	@include flex(row-reverse, center, center, 5px);
	@include fontSize-fontWeight(16px, 400);
	height: fit-content;
	padding: 15px 35px;
	border: none;
	border-radius: 50px;
	background: $second;
	color: $white;
	cursor: pointer;
	box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.25);
	transition: all 200ms ease-in-out;
	&:hover {
		transform: scale(1.1);
	}
}
