@import "@/styles/theme.scss";

.children_container {
	@include width-height(auto, auto);
}

.children_container_closed {
	@include width-height(auto, auto);
}

@media (width >= $queryLg) {
	.children_container {
		@include width-height(calc(100vw - 275px), 100%);
		@include flex(column, flex-start, center);
		overflow-y: auto;
		transition: all 400ms ease-in-out;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 275px;
			z-index: 1000;
			background-color: rgba(0, 0, 0, 0.61);
		}
	}
	.children_container_closed {
		width: calc(100vw - 60px);
		&::before {
			content: none;
		}
	}

	.children_container {
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
		scrollbar-width: none; /* Para Firefox */
	}

	/* Ocultar la barra para navegadores WebKit */
	.children_container::-webkit-scrollbar {
		display: none;
	}
}
