@import "@/styles/theme.scss";

.container,
.container_noselected {
	@include flex(row, flex-start, center, 20px);
	@include width-height(265px, auto);
	background-color: $main;
	padding: 20px 5px;
	transition: all 100ms ease-in;
	border-top: 1px solid $mainHover;
	border-bottom: 1px solid $mainHover;
	.text {
		@include fontSize-fontWeight(18px, 400);
		color: $white;
		text-align: start;
	}
	svg {
		path[stroke="#FF5722"] {
			stroke: $text;
		}
		path[fill="#FF5722"] {
			fill: $text;
		}
	}
	&:hover {
		border-left: 2px solid $second;
		border-radius: 0 4px 4px 0;
	}
}

.container_selected {
	transition: all 100ms ease-in;
	background-color: $mainHover;
	border-left: 2px solid $second;
	border-radius: 0 4px 4px 0;
}
