@import "@/styles/theme.scss";

.container,
.container_noselected {
	@include width-height(275px, auto);
	@include flex(row, flex-start, center, 25px);
	background-color: $mainBlue;
	padding: 20px 15px;
	transition: all 100ms ease-in;
	border-top: 1px solid $slateBlue;
	border-bottom: 1px solid $slateBlue;
	padding-left: 25px;
	.text {
		@include fontSize-fontWeight(14px, 400);
		color: $white;
		text-align: start;
	}
	&:hover {
		border-left: 2px solid $second;
		border-radius: 0 4px 4px 0;
	}
	svg {
		&:hover {
			path[fill="#fff"] {
				fill: $second;
			}
		}
	}
}

.container_selected {
	transition: all 100ms ease-in;
	background-color: $slateBlue;
	border-left: 2px solid $second;
	border-radius: 0 4px 4px 0;
	svg {
		path[fill="#fff"] {
			fill: $second;
		}
	}
}
