@import "@/styles/theme.scss";

.container {
	@include width-height(100%, 100vh);
	min-height: 100vh;
	.inner_container {
		@include width-height(100%, calc(100% - 74px));
		@include flex(row, space-between, flex-start);
		flex-wrap: nowrap;
		.children_container {
			@include width-height(calc(100vw - 275px), calc(100vh - 74px));
			@include flex(column, flex-start, center);
			overflow-y: auto;
			transition: all 400ms ease-in-out;
			&::before {
				content: "";
				position: absolute;
				top: 73px;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.61);
			}
		}
		.children_container_closed {
			width: calc(100vw - 60px);
			&::before {
				content: none;
			}
		}
	}
}

.children_container::-webkit-scrollbar {
	width: 5px;
	background-color: $lighterGrey;
}

.children_container::-webkit-scrollbar-thumb {
	background-color: $orange;
	border-radius: 10px;
}
