@import "@/styles/theme.scss";

.container {
	@include width-height(100%, 100vh);
	@include flex(row, center, center);
	z-index: 2;
	position: relative;
	background: $mainBlue;
	.inner_container {
		@include width-height(1200px, auto);
		@include flex(row, space-between, center, 50px);
		.profile_container {
			position: relative;
			.profile {
				@include width-height(400px, auto);
				object-fit: contain;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				position: relative;
				z-index: 10;
			}
			.border {
				@include width-height(400px, 575px);
				position: absolute;
				top: 14px;
				right: -10px;
				background: $slateBlue;
				box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.25);
			}
		}
		.about_container {
			@include width-height(100%, 100%);
			@include flex(column, flex-start, flex-start);
			padding: 10px;
			margin-top: 40px;
			.content {
				@include width-height(100%, auto);
				@include flex(column, center, flex-start, 30px);
				margin-top: 50px;
				.names {
					@include flex(column, center, flex-start, 10px);
					.name {
						@include fontSize-fontWeight(28px, 600);
						color: $white;
					}
					.subname {
						@include fontSize-fontWeight(16px, 600);
						color: $second;
					}
				}
				.leyends {
					@include flex(column, center, flex-start, 10px);
					.leyend {
						max-width: 600px;
						@include fontSize-fontWeight(14px, 400);
						@include text;
					}
				}
			}
			.resume {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				.item {
					@include flex(row, flex-start, flex-start, 10px);
					padding: 10px 0;
					color: $second;
					@include fontSize-fontWeight(14px, 600);
					.content {
						margin: 0;
						color: $text;
						font-weight: 400;
					}
				}
			}
			.btn_container {
				padding: 20px 0;
			}
		}
	}
}
