@import "@/styles/theme.scss";

.container {
	@include width-height(100%, 100vh);
	@include flex(row, center, center);
	z-index: 2;
	position: relative;
	background: $main;
	.inner_container {
		@include width-height(1200px, auto);
		@include flex(column, space-between, flex-start, 50px);
		margin-top: 75px;
		.list_container {
			@include width-height(100%, auto);
		}
		.cards_container {
			@include width-height(100%, auto);
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 50px;
		}
	}
}
