@import "@/styles/theme.scss";

.container {
	@include width-height(100%, 100vh);
	@include flex(row, center, center);
	z-index: 2;
	position: relative;
	background: $darkBlue;
	.inner_container {
		@include width-height(1200px, 100%);
		@include flex(column, space-around, flex-start, 70px);
		.list_container {
			@include width-height(100%, auto);
		}
		.cards_container {
			@include width-height(100%, auto);
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 50px;
		}
	}
}
